.donate-card-img {
  width: inherit;
  height: auto;
  object-fit: cover;
}

.prev-img {
  width: 22rem;
  height: auto;
  object-fit: cover;
}

.approve-img {
  width: 26.25rem;
  height: auto;
  object-fit: cover;
}
